<div class="opt">
    <img src="./img/login.png">
    <h3>Login</h3>
    <p>Once you've set up a new account, login to see your personal photos.
    You may also like and comment on photos under your account name.</p>
</div>
<div class="opt">
    <img src="./img/signup.png">
    <h3>Sign Up</h3>
    <p>Create a new account with us. All you need is to come up with a decent username, 
    a valid email address, and put some effort into your password please.</p>
</div>
<div class="opt">
    <img src="./img/gallery.png">
    <h3>Gallery</h3>
    <p >You have access to view all other users photos in the gallery. 
    Once you have created your account and logged in, you may add your own photos.</p>
</div>